


@font-face {
font-family: Pasifico;
font-style: normal;
font-weight: normal;
src: url(fonts/pacifico-regular-webfont.woff) format('woff');
}

body {
	margin:0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	background: #C2D8DAFF;
	outline: 1px dashed red;
}

header {
	text-align: center;
	outline: 1px dashed red;
}
h1 {
	margin: 0;
	padding: 0;
}

footer {
	outline: 1px dashed red;
	margin:0;
}

.wrap {
	display: flex;
	outline: 1px dashed red;
	padding: 2%;
	justify-content: space-around;
}



.gallery {
	outline: 1px dashed red;
	flex: 6;
	display: grid;
	grid-template-columns: 1fr, 1fr, 1fr;
	grid-template-rows: repeat(4, 250px);
	grid-auto-rows: 250px;
	grid-gap: 5px;
}

.menu {
	outline: 1px dashed red;
	flex: 2;
	margin-right: 1%;
}

.rating {
	outline: 1px dashed red;
	flex: 2;
	align-self: flex-start;
	margin-left: 0.3%;
}

.cat:nth-child(2n) {
	grid-column: span 2;
	grid-row: span 1;
}

.cat:nth-child(4n) {
	grid-column: span 1;
	grid-row: span 1;
}

.cat:nth-child(8n) {
	grid-column: span 3;
	grid-row: span 1;
}

.cat {
	overflow: hidden;
	position: relative;
}

.name {
	position: absolute;
	top: 75%;
	left:0;
	padding: 15px;
	background:#1C1C1CBF;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	font: 1.2em Pasifico;
	white-space: nowrap;
	overflow: hidden;
	transform-origin: top right;
	transform: translate(-100%, 0);
}

.cat:hover .name {
	transform: translate(0, 0);
	transition: transform 200ms ease;
}

.cat1 {
	background: url(img/2.jpg) center/cover no-repeat;
}
.cat2 {
	background: url(img/3.jpg) center/cover no-repeat;
}
.cat3 {
	background: url(img/4.jpg) center/cover no-repeat;
}
.cat4 {
	background: url(img/5.jpg) center/cover no-repeat;
}
.cat5 {
	background: url(img/6.jpg) center/cover no-repeat;
}
.cat6 {
	background: url(img/7.jpg) center/cover no-repeat;
}
.cat7 {
	background: url(img/8.jpg) center/cover no-repeat;
}
.cat8 {
	background: url(img/10.jpg) center/cover no-repeat;
}


/*доп*/
.cat9 {
	background: url(img/2.jpg) center/cover no-repeat;
}

.cat10 {
	background: url(img/3.jpg) center/cover no-repeat;
}

.cat11 {
	background: url(img/4.jpg) center/cover no-repeat;
}

.cat12 {
	background: url(img/5.jpg) center/cover no-repeat;
}

.cat13 {
	background: url(img/6.jpg) center/cover no-repeat;
}

ul {
	margin:0;
	padding: 0;
	list-style: none;
}

li{
	border-bottom:2px solid white;
	padding: 20px 0 0 15px;
	font: bold 16px "Arial";

}


/* 
@media screen and (max-width: 700px)
{
	body{
		flex-flow: column nowrap;
		height: 1100px;
	}
	.menu, section.gallery, .rating, footer, header {
		width: 100%;
	}
	ul {
	flex-flow: row nowrap;
	justify-content: space-around;
	}

	li {
		height: auto;
		padding: 0 0 0 0;
		font: bold 20px "Arial";
outline: 1px dashed red;
	}

	.gallery {
		height: 500px;
	}
} */