body {
	outline: 1px dashed red;
	margin:auto;
	padding: 2%;
	width: 90%;
	flex-flow: row wrap;
	display: flex;
	justify-content: space-around;

}

header {
	outline: 1px dashed red;
	flex-basis: 100%;
	margin: auto;
}

footer {
	outline: 1px dashed red;
	flex-basis: 100%;
	margin: auto;
}

section.gallery {
	outline: 1px dashed red;
	flex-basis: 60%;
	flex-grow: 1;
	margin: auto;
}

.menu,.rating {
	outline: 1px dashed red;
	flex-shrink:1;
	overflow: hidden;
	flex-basis: 20%;

}

section.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
}

.cat {
	height: 180px;
	flex-basis: 33.333%;
	outline: 1px dashed red;


}

.cat2,.cat6 {

}

.cat8 {

}