


@font-face {
font-family: Pasifico;
font-style: normal;
font-weight: normal;
src: url(fonts/pacifico-regular-webfont.woff) format('woff');
}

body {
	margin:0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 95%;
	height: 1000px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	background: linear-gradient(#C2D8DAFF, #697D95FF);
}

header {
	width: 100%;
	font: 30px "Pasifico";
	text-align: center;
	color: red;
}

footer {
	outline: 1px dashed red;
	width: 100%;
	align-self: flex-end;
	margin:0;

}

section.gallery {
	outline: 1px dashed red;
	width: 58%;
	height: 700px;
}

.menu,.rating {
	outline: 1px dashed red;
	overflow: hidden;
	width: 18%;
	

}

.rating {
	align-self: flex-start;
}

section.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;

	
}

.cat {
	width: 32%;
	height: 165px;
/*	outline: 1px dashed red;*/
}

.cat2,.cat6 {
	width: 65%;
	height: auto;
}

.cat8 {
	width: 98%;
}

.cat1 {
	background: url(img/2.jpg) center/cover no-repeat;
}
.cat2 {
	background: url(img/3.jpg) center/cover no-repeat;
}
.cat3 {
	background: url(img/4.jpg) center/cover no-repeat;
}
.cat4 {
	background: url(img/5.jpg) center/cover no-repeat;
}
.cat5 {
	background: url(img/6.jpg) center/cover no-repeat;
}
.cat6 {
	background: url(img/7.jpg) center/cover no-repeat;
}
.cat7 {
	background: url(img/8.jpg) center/cover no-repeat;
}
.cat8 {
	background: url(img/10.jpg) center/cover no-repeat;
}

ul {
	margin:0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
}

li{
	height: 40px;
	border-bottom:2px solid white;
	padding: 20px 0 0 15px;
	font: bold 16px "Arial";
	color: white;
}

@media screen and (max-width: 700px)
{
	body{
		flex-flow: column nowrap;
	}
	.menu, section.gallery, .rating, footer, header {
		width: 100%;
	}
}